{% sw_extends '@Storefront/storefront/page/content/index.html.twig' %}

{% block page_content %}
    {% set ecUtilsConfig = shopware.config.EventCandyUtils.config %}
    {% if ecUtilsConfig["turnOffCategoryBreadcrumb"] %}
    <div class="cms-page">
        {% block page_content_blocks %}
            {% sw_include "@Storefront/storefront/page/content/detail.html.twig" with {'cmsPage': page.cmsPage} %}
        {% endblock %}
    </div>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}