<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title>#EventCandyUtils# Settings</title>
        <title lang="de-DE">#EventCandyUtils# Einstellungen</title>

        <input-field type="bool">
            <name>linkCategoryMediaActive</name>
            <defaultValue>true</defaultValue>
            <label>Link Category Media Active</label>
            <label lang="de-DE">Aktiviere Bilder für Link "Kategorien"</label>
        </input-field>
    </card>
</config>