<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title>Link Category Config</title>
        <title lang="de-DE">Link Kategorie</title>

        <input-field type="bool">
            <name>linkCategoryMediaActive</name>
            <defaultValue>true</defaultValue>
            <label>Activate Images for Link-Category</label>
            <label lang="de-DE">Aktiviere Bilder für Link "Kategorien"</label>
        </input-field>
    </card>

    <card>
        <title lang="de-DE">Slider Config</title>

        <input-field type="bool">
            <name>sliderAutoplay</name>
            <defaultValue>true</defaultValue>
            <label>Slider Autoplay</label>
            <label lang="de-DE">Slider Autoplay</label>
        </input-field>

        <input-field type="int">
            <name>sliderSpeed</name>
            <defaultValue>500</defaultValue>
            <label>Slider Speed (in ms)</label>
            <label lang="de-DE">Slider Geschwindigkeit (in ms)</label>
        </input-field>

        <input-field type="int">
            <name>sliderAutoplayTimeout</name>
            <defaultValue>4000</defaultValue>
            <label>Slider Autoplay Timeout (in ms)</label>
            <label lang="de-DE">Slider Autoplay Timeout (in ms)</label>
        </input-field>

    </card>

    <card>
        <title lang="de-DE">Flyout Menu Config</title>

        <input-field type="bool">
            <name>flyoutIsTurnedOf</name>
            <defaultValue>true</defaultValue>
            <label>Turn off Flyout Menu</label>
            <label lang="de-DE">Schalte das Flyout Menu ab.</label>
        </input-field>
    </card>

    <card>
        <title lang="de-DE">Produktdatenblatt Config</title>
        <title lang="de-DE">Product Data Sheet Config</title>

        <input-field type="bool">
            <name>turnOnDataSheet</name>
            <defaultValue>true</defaultValue>
            <label>Turn on Product Data Sheet in Listing and Details</label>
            <label lang="de-DE">Zeige das Poduktdatenblatt im Listing u. Details an</label>
        </input-field>

        <input-field>
            <name>badgeColor</name>
            <placeholder>#ff0000</placeholder>
            <label>Badge Colour in hex, for example #ff0000</label>
            <label lang="de-DE">Badge Farbe in hex, z.B #ff0000</label>
        </input-field>

        <input-field>
            <name>badgeTextColor</name>
            <placeholder>#ffffff</placeholder>
            <label>Badge Text Colour in hex, for example #ffffff</label>
            <label lang="de-DE">Badge Text Farbe in hex, z.B #ffffff</label>
        </input-field>

        <input-field>
            <name>badgeInlineStyle</name>
            <placeholder>text-decoration: underline;</placeholder>
            <label>Badge Inline Style</label>
            <label lang="de-DE">Badge Inline style</label>
        </input-field>
    </card>
</config>